
 body {
   background: #04819E;
   color: #04819E;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight:  bold;
 }
 table {
   width: 43%;
   font-size: 26px;
   margin-bottom: 3%;
   }
 h1 {
   margin-top: 3%;
   text-align: center;
   color: #fed;
   margin-bottom: 3%;
   font-size: 60px;
   }
 tr {
   height: 40px;
 }
 .close {
   font-size: 34px;
   display: none;
   font-weight: 300;
   position: relative;
   left: -10px;
   top: 17%;
    }
 tr:hover .close {
   display: inline;
   position: absolute;
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые
не поддерживают селекторы с плюсом. Показываем, что
label кликабелен. */
.checkbox + label {
  cursor: pointer;
}
/* Далее идет оформление чекбокса в современных браузерах,
а также IE9 и выше. Благодаря тому, что старые браузеры
не поддерживают селекторы :not и :checked, в них все
нижеследующие стили не сработают. */
/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
/* будем позиционировать псевдочекбокс относительно label */
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0 0 60px; 
}
/* оставляем слева от label место под псевдочекбокс */
/* Оформление первой части чекбокса в выключенном состоянии */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 5px;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #DEE1EA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии
(переключатель). */
/* анимация, чтобы чекбокс переключался плавно */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -14px;
  left: 9px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fed;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .03s; 
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
   background: #9FD468;
   transition: all .03s;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
   left: 29px;
   background: #9E6;
}
/* Показываем получение фокуса. */
.close:hover {
  color: #e10D00;
  transition: all .6s;
  cursor: default;
}
.close:focus {
  outline: none;
}
/* Стиль для таблицы с расплывающимися неактивными строками*/
.table_blur {
  background: #FFC140;
  border-collapse: collapse;
  text-align: left;
}
/*Делает четные строки другого цвета*/
.table_blur tr:nth-child(odd) {
  background: #5EC4CD;
}
.table_blur td {
  border-bottom: 6px solid #04819E  ;
  border-top: 6px solid #04819E;
  padding: 10px 15px;
  position: relative;
  transition: all 0.03s ease;
}
/* цвет и эффекты на активную строку*/
.table_blur tbody:hover tr:hover td {
  color: transparent;
  text-shadow: -2px -2px 0 #04819E;
}
#textInput {
  background: #fed;
  color: #04819E;
}
img {
  position: absolute;
  margin-top: 10%;
  margin-left: -2%;
}
 /*Класс для выполненных заданий*/
.done-true {
  text-decoration:line-through;
  color: #259433 !important;
  text-shadow: 1px 1px 0 #DEE1EA !important;
}
.done-false {
  text-decoration:none;
}
.filter {
  background-color: #5EC4CD;
  text-align: center;
   font-size: 18px;
   font-weight: 600; 
  position: relative;
   margin-top: -2%;
   width: 30%;
 }
.filter td {
  border-bottom: 6px solid #04819E  ;
  border-top: 6px solid #04819E;
  border-right: 6px solid #04819E;
  position: relative;
  margin: 0;
  width: 24%;
  cursor: pointer;
 }
 .filter td:hover {
  color: #FFdc60;
 }
.all-all, .false-false, .true-true {
  background-color: #FFC140;
  color: #04819E;
}
.filter .all-all:hover,
.filter .false-false:hover,
.filter .true-true:hover {
  color: #04819E;
}