<!doctype html>
<html ng-app>
<head>
<meta charset='utf-8'>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/superApp.css">

<script src="superController.js"></script>

</head>
<body ng-controller='DealListCtrl'>
<h1>Список дел</h1>
<table align='center' class="table_blur">
  <tr>
    <td width='30px'>
      <input type="checkbox" class="checkbox" id="checkboxAll" ng-click='checkedAllCtrl($event)'/>
      <label for="checkboxAll"></label>
    </td>
    <td colspan='2' width='100%'><input id='textInput' placeholder="Что нужно сделать?" ng-keydown='eventsCtrl($event)' size='36'></input></td>
  </tr>
  <tr ng-repeat='deal in deals' class='deals'>
    <td>
      <input type="checkbox" class="checkbox" id="checkbox{{deals.indexOf(deal)}}" ng-click='checkedCtrl($event)'/>
      <label for="checkbox{{deals.indexOf(deal)}}"></label>
    </td>
    <td>{{deal}}</td>
    <td width='30px'>
      <button type="button" class="close" aria-label="Close" ng-click='closeCtrl($event, deal)'><span aria-hidden="true">&times;</span></button>
    </td>
  </tr>
</table>
	
</body>
</html>


